body {
    display: flex;
    justify-content: center;
}

.clock-container {
    width: 500px;   
    height: 500px;
    background-color: rgba(0, 0, 0, 0);
    border: 55px solid black;
    border-radius: 100%;
    padding: 5px;
    position: relative;
}

.clock-frame {
    padding: 5px;
}

.hand {
    width: 50%;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
}

.hour-hand {
    background-color: brown;
}

